<!DOCTYPE html>
<html>

<head>
    <title>{title}</title>
    <meta http–equiv=“Content-Type” content=“text/html; charset=UTF-8”/>
    <meta http–equiv=“X-UA-Compatible” content=“IE=edge”/>
    <meta name=“viewport” content=“width=device-width, initial-scale=1.0“/>
    <style>
        body {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-left: 2em;
        }
        h2 {
            font-size: larger;
        }
        li {
            list-style: none;
            margin-top: 0.5em;
        }


    </style>

</head>

<body>
<h1>Transaction Updates</h1>
<h2>Below are the transactions up to {date}</h2>
<ul>
    {list-content}
</ul>
</body>

</html>